#price-filter-label-min{
    flex-basis: 54%;
}
.product-list-title{
    font-size: 3rem;
    font-weight: normal;
    margin: 40px 0;
    background: -webkit-linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(0, 0, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.product-list-sidebar {
    margin-right: 100px;
    flex-basis: 20%;
}

.product-list-sidebar a {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    color: black;
    border-bottom: 1px solid var(--light-blue);
    background-color: var(--sky-blue);
}
.product-list-sidebar a:last-child{
    border-bottom: none;
}

.product-list-sidebar a:hover{
    background-color: var(--dark-sky-blue);
    font-weight: bold;
}

#categoryList{
    margin-bottom: 1rem;
}

.sidebar-title{
    margin-bottom: 0.5rem;
}

.sidebar-search{
    margin-bottom: 1rem;
}
.clear-filter{
    margin-top: 1rem;
}
.price-filter .price-filter-select > div{
    margin-bottom: .7rem;
}


.product-list-box {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-list-box .product-item {
    width: 45%;
    margin-right: 2%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 5px var(--light-gray);
    padding: 2rem;
   
}

.product-img {
    height: 300px;
    width: 300px;
}
.product-img img{
    max-width: 100%;
    max-height: 100%;
    
}

.product-list-box .product-item .product-name {
    font-size: 1.5rem;
    color: black;
    padding: 0.75rem 0;
}

.product-list-box .product-item .product-price {
    color: var(--jean-blue);
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.product-list-box .product-item:nth-child(3n){
    margin-right: 0;
}


.product-list-box .product-item:hover {
    box-shadow: 0px 4px 25px var(--light-gray);
    transition: box-shadow 0.15s linear 0s;
}




@media screen  and (max-width: 576px){

    

    .product-img {
        height: 100px;
        width: 120px;
    }

    .product-img img{
        max-width: 100%;
        max-height: 100%;
        
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    


    .product-img {
        height: 150px;
        width: 200px;
        border: 1px solid black;
    }

    .product-img img{
        max-width: 100%;
        max-height: 100%;
        
    }
}