
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #ECF0F1;

}

.left-content {
    display: flex;
    gap: 2rem;
    flex-basis: 65%;
}

.input-wrapper {
    width: 80%;
}

.right-content {
    display: flex;
    gap: 2rem;
    margin-top: 7px;
}


@media  screen and (max-width: 576px) {
    .nav-wrapper{
        display: flex;
        /* justify-content: space-around; */
        flex-direction: column;
        /* width: 100%; */
    }
}


@media screen and (min-width: 577px) and  (max-width: 768px) {
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
    }
}