


.footer {
    background-color: #0099DD;
    display: flex;
    justify-content: center;
}
.footer p {
    margin-top: 1.2rem;
    color: white;
}

/* media Query */

@media screen and (max-width: 576px) {
    .footer {
        background-color: #0099DD;
        position: fixed;;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    
    
}